{% extends 'DeuteronAdminBundle::base.html.twig' %}

{% block title %}{{ app_name }} - Administration{% endblock %}

{% block content %}
<h1>Overview</h1>
<ul class="well overview unstyled">
    <li><a href="#">3 Utilisateurs</a></li>
    <li><a href="#">27 Pièces</a></li>
</ul>
<h2>
    Recent Activity
</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Users</th>
            <th>Type</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>User 1</td>
            <td>Création de pièce</td>
            <td>06/07/2012</td>
        </tr>
        <tr>
            <td>User 2</td>
            <td>Suppression de pièce</td>
            <td>06/07/2012</td>
        </tr>
        <tr>
            <td>User 3</td>
            <td>Modification de pièce</td>
            <td>06/07/2012</td>
        </tr>
        <tr>
            <td>User 4</td>
            <td>Suppression de pièce</td>
            <td>06/07/2012</td>
        </tr>
        <tr>
            <td>User 5</td>
            <td>Modification de pièce</td>
            <td>06/07/2012</td>
        </tr>
        <tr>
            <td>User 6</td>
            <td>Création de pièce</td>
            <td>06/07/2012</td>
        </tr>
        <tr>
            <td>User 7</td>
            <td>Suppression de pièce</td>
            <td>06/07/2012</td>
        </tr>
        <tr>
            <td>User 8</td>
            <td>Modification de pièce</td>
            <td>06/07/2012</td>
        </tr>
    </tbody>
</table>
<ul class="pager">
    <li class="next">
        <a href="activity.htm">More →</a>
    </li>
</ul>
{% endblock %}