{% extends '::base.html.twig' %}

{% block title %}Deuteron - A propos{% endblock %}

{% block content %}
<section id="about">
  <div class="page-header">
    <h1>Deuteron <small>voilà ce qu'on fait ...</small></h1>
  </div>

  <div class="row">
    <div class="span-one-third">
      <h3>... gérer ses films</h3>
      <p>Base de données personnelles de films.</p>
      <p><a href="{{ path('movie_list') }}">Accéder</a></p>
    </div>
    <div class="span-one-third">
      <h3>... dire des trucs</h3>
      <p>Liste d'articles.</p>
      <p><a href="{{ path('index') }}">Ecouter</a></p>
    </div>
    <div class="span-one-third">
      <h3>... montrer des trucs</h3>
      <p>Liste d'images.</p>
      <p><a href="#">Voir</a></p>
    </div>
  </div>
</section>

{% endblock %}
