/**** Forms ****/
form label.required:after
{
  content: " * " ;
  color: red;
  font-weight: bold;
}
/**** Forms ****/

/**** Bredcrumb ****/
.breadcrumb li ~ li:before
{
  content: '/';
  padding: 0 5px;
  color: #bfbfbf;
}
/**** Bredcrumb ****/