body {
    padding-top: 20px;
}

.overview li {
    display: inline-block;
    width: 24%;
}

aside {
    text-align: center;
}

aside nav {
    text-align: left;
}

#app_version {
    color:#BBB;
}

/**** Login Form ****/
#login_container {
    min-height: 20px;
    padding: 0px 19px 10px 19px;
    margin-bottom: 20px;
    background-color: whiteSmoke;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#login_container .form-actions {
    padding-bottom: 0px;
}
/**** Login Form ****/
